@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.swal2-confirm {
  color: white !important;
  
}

.swal2-title {
  color: white !important;
}

.swal2-popup {
  background-color: #444;
  font-family: 'Poppins', sans-serif;
}

body > div.swal2-container.swal2-center.swal2-backdrop-show > div > div.swal2-actions > button.swal2-confirm.swal2-styled::before {
  background: none;
}

#login {
  color: white;
}
/* CONTAINERS AND BORDER */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  margin: 0px;
}
.gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      #a65ff2,
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.container {
  width: 100%;
  min-height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  background: #27282c;
  border-radius: 15px;
}

.mainMenuButtons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#playContainer {
  display: none;
}

#scoreContainer {
  display: none;
  text-align: center;
  flex-direction: row;
  align-items: center;
  gap: 6em;
}

#aboutUsContainer {
  display: none;
  text-align: center;
  flex-direction: row;
  align-items: center;
  gap: 6em;
}
/* END CONTAINERS AND BORDER */

/* TITLES */
.mainTitle {
  position: absolute;
  top: 0;
  margin: 0.5em;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 2.5rem;
}

.subTitle {
  /* position: absolute; */
  top: 100px;
  margin: 0.5em;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  max-height: 100vh;
  overflow: auto;
}

li {
  text-align: left;
  font-size: 0.7em;
}
/* END TITLES */

/* BUTTONS */
button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: linear-gradient(
    60deg,
    #5f86f2,
    #a65ff2,
    #f25fd0,
    #f25f61,
    #5ff2f0
  );
  color: white;
}
button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}
button span {
  position: relative;
  z-index: 1;
}
/* END BUTTONS */

#game-container {
  min-width: 45vw;
  text-align: center;
}

#guess-input {
  height: 45px;
  font-size: 30px;
  width: 50px;
  text-transform: uppercase;
}

#word-display {
  font-size: 40px;
}